<html>
<head>
    <meta charset="utf-8" />
    <title>@this.ViewBag.Title</title>

</head>
<body>
    <nav>Menu</nav>

    <section id="mainContent">
        @RenderBody()
    </section>

    <footer>Footer</footer>

    @RenderSection("scripts", required: false)
</body>
</html>